.margin_table{
  margin-top: 60px;
  margin-left: 10px;
  margin-right: 10px;
}
tbody:hover{
  color: orange;
  cursor: pointer;
}
.bottom_align{
  position: absolute;
  display: flex;
  height: 10%;
  text-align: center;
  width:100%;
  bottom:1px;
  float: bottom;
  background-color: #343A40;
}